@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;400;700&display=swap');

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

nav {
    background-color: blueviolet;
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
}

strong {
    margin-right: 145vh;
}

li a {
   margin-left: 30px;
   font-family: 'Archivo', sans-serif;
   color: whitesmoke;
   font-size: 20px;
}

a:hover {
    color: rgb(255, 0, 200);
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section p {
    font-family: 'Archivo', sans-serif;
    color: blueviolet;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

div {
    height: 70%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

footer {
    background-color: blueviolet;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

p {
    font-family: 'Archivo', sans-serif;
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
}

footer ul {
    display: flex;
    flex-direction: column;
}

footer li {
    margin-left: 30px;
    font-family: 'Archivo', sans-serif;
    color: whitesmoke;
    font-size: 20px;
}